<!--
  Generated template for the Transactions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<ion-list *ngFor="let item of transactions">
			<button ion-item>
				<strong>{{item.amount}}</strong	>
					{{item.title}}
			</button>
		</ion-list>	
	</ion-card>
	<ion-fab>
		<button ion-fab [navPush]="addingP">+</button>
	</ion-fab> 
</ion-content>
