<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Movimientos" tabIcon="cash"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="ion-about-circled"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
